#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.register-pad {
    margin: 5%;
    padding-top: 5%;
    align-content: center;
}

.icon-eparkings {
    height: 36px;
    width: auto;
}

.carousel-img img{
    height: 64px;
    width: 100%;
}

#map {
  height: 100%;
  width: 80%;
  align: center;
}

.about-us {
    padding: 1%;
    margin: 1%;
}

.home-detail {
    color: #fff;
    padding: 10px;
    background-color: #3333ff;
    border-style: double;
    border-color: #fff;
    border-radius: 25px;
}

.row {
    width: 90%;
}

iframe {
    display: relative;
    width: 50%;
    height: 500px;
    float: left;
}

#map {
    width: 50%;
    height: 400px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

